:root { 
    --magenta: darkmagenta;
    --orchid: darkorchid;
    --orange: rgba(213, 136, 70, .8);
    --brown: #9b5110; 
}

html {
    background-color: rgba(250, 235, 215, 1);
    font-family:Georgia, 'Times New Roman', Times, serif
}

body {
    margin: 0px;
}

a {
    text-decoration: none;
}

p {
    color: var(--orchid);
    text-align: center;
}

h1, h2, h3, a {
    color: var(--magenta);
    font-style: italic;
}

/* header*/
header {
    display: flex;
    flex-wrap: wrap;
    background-image:url("./banner.jpg");
    height: 330px;
    background-size: cover;
    background-position: center;
}

header h1 {
    color:var(--magenta);
    background-color: rgba(250, 235, 215, .7) ;
    padding: 10px 40px;
    opacity: .85;
    height: fit-content;
    font-size: xxx-large;
    border-radius: 25px;
}

header nav {
    display: flex;
    align-self: flex-end;
    justify-content: flex-end;
    width:100%;

}
/* end of header*/

/*nav*/
nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    display: flex;
    padding: 0px 20px;
    border-bottom: 2px solid var(--orange);
    border-radius: 25px;
    margin: 0 10px;
    background-color: rgba(250, 235, 215, 1);
    box-shadow: 10px 10px rgba(0, 0, 0, .5);
}

nav ul li a {
    text-decoration: none;
    font-size: 26px;
    
}
/*end of nav*/

#container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 40px;
}

.left {
    border-right: 2px dotted var(--orange);
    display: flex;
    justify-content:right;
    flex: 1 1 11%;
    margin: 10px auto;
    padding-right: 20px;
}
   
.right {
    display: flex;
    justify-content: center;
    flex: 1 1 80%;
    flex-wrap: wrap;
    padding: 20px 0;
}

#container div:nth-child(2) {
    justify-content: left;
}

#container div:nth-child(2) p {
    margin-left:20px;
    text-align: left;
}

/* work section */
.skills {
    display: flex;
    flex: 1 1 500px;
    flex-direction: column-reverse;
    align-items: start;
    height: 200px;
    margin: 10px 20px;
    vertical-align: bottom;
    border: 5px solid var(--brown);
    background-size: cover;
}

.skills:hover {
    opacity: .5;
}

.skills.large {
    background-image: url("./puzzle.jpg");
    flex: 1 1 100%;
    height: 600px;
    background-position-y: -90px;
   
}

.skills.run {
    background-image: url("./run.jpg");
    background-position-y: -70px;
}


.skills.wed {
    background-image: url("./wedding.jpg");
    background-position-y: -178px;
}

.skills.rob {
    background-image: url("./rob.jpg");
    background-position-y: -10px;
}


.skills.urban {
    background-image: url("./urban.jpg");
    background-position-y: -50px;
}

.caption {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: end;
    height:fit-content;
    padding: 5px 20px;
    margin-bottom: 15px;
    background-color: var(--orange);
    box-shadow: 10px 10px rgba(0, 0, 0, .5); 
}
/*end of work section*/


.right.footer {
    justify-content: right;
    align-content: space-evenly;
    justify-content: space-around;
}

.right.footer h3 {
    display: flex;
    padding: 0px 20px;
    margin: 0 10px;
    border-bottom: 2px solid var(--orange);
}

/*responsive design*/
@media screen and (min-width:1500px) {
    header {
        background-position-y: -300px;
    }
}

@media screen and (max-width:845) {
    #contactinfo{
        font-size:14px;
    }
}